* {
  margin: 0;
  padding: 0;
}
.start-screen {
  background-image: url("../img/background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  height: 600px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background {
  position: relative;
}
.hidden {
  display: none;
}
.scores {
  position: absolute;
}
